body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .board-grid {
    background-color:#000;
    border-spacing: 5px;
    border-collapse: separate;
  }
  .board-grid td {
    padding:0;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .game-title {
    font-size:24px;
  }
  .game-subtitle {
    font-size:12px;
    margin-bottom:10px;
  }
  .bold {
    font-weight: bold;
  }
  .win {
    background-color: yellow;
  }
  .sort-button {
    display: block;
    margin:10px 0;
  }
  .game-status {
    margin:10px 0;
  }